{% extends "main/base.html" %}



{% block title %}Удаление :: товара ::{% endblock %}

  {% block home_menu %}
      <a href="/realty/"><i class="fa fa-home"></i>Домой</a>
      <span><i class="fa fa-angle-right"></i><a href="{% url 'realty:edit_page' realty_page.pk %}">редактировать</a></span>
  {% endblock %}



{% block realty %}


<div class="row">
<div class="col-md-3">


    <div class="feature-pic set-bg" >
        <br>
        <img class="img-responsive" src="{{ realty_page.main_image.url }}" alt="">
    </div>

    <h5>{{ realty_page.realty_name }}</h5>

    <p>Вы хотите удалить товар </p>

<form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

        {{ form.as_p }}


    <input type="submit" value="Удалить" class="bg-info">

    </form>


</div>




</div>







{% endblock %}