{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}



{% block content %}


<div class="container">

    <div class="row">
    <div class="col-md-6">
          <p>Добавить Старницу </p>

         <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
             {{ form.as_p }}
             <br>




             <button name="submit"  >Добавить страницу </button>

         </form>

        </div>

    </div>


</div>



{% endblock %}






