/**/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #3c3c3c;
	background: #fdfcfb;
	font-weight: normal;

}

.deleted-text{
	text-decoration:line-through;
	margin-top:20px;
}

/*--------------------------*/

.thumb img {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0);
	border-radius:5px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding:5px;
}


.thumb {
	padding:5px;
}


.thumb img:hover {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1);
}

/*-------------------------*/



img{
	width: 100%;
	height: 200px;
}


.header{
    padding:0px 30px 0px;
	width:885px;
}

.text{
	padding: 90px 50px 90px;
	margin-top:-100px;
}



.active{
    padding: 2px;
}

.content {
    margin: 70px;
}


.tip{
	font-family:'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:18px;
	font-style:italic;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.image{
		width: 70%;
		height: auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.image{
		width: 50%;
		height: auto;
	}

	.header{
    	padding:0px 15px 0px;
		width: 250px;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.header{
		padding:0px 45px 0px;
		width: auto;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 358px) {
	.image{
		width: 70%;
		height: 30%;
	}
	.header{
    	padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 960px) {
	.image{
		width: 50%;
		height: auto;

	}

	.header{
    	padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}


}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 800px) {
	.image{
		width: 45%;
		height:30%;
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 360px) {
	.image{
		width: 45%;
		height: 30%;
	}
	.header{
    	padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width :600px) {
	.image{
		width: 45%;
		height:90%;
	}
	.header{
    	padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
}


/*Фома полльзовтеля логин и пароль */

.form form {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}