<!-- --->

{% extends 'main/base.html' %}
{% load staticfiles %}




{% block title %}{{ category_name }}{% endblock %}

{% block navbar %}
    <div class="navbar-header"><!---Кнопка Входа --->

    <ul class="nav navbar-nav navbar-right">

    </ul>
    </div><!---Кнопка Входа --->


        <!--Меню-->
         <ul class="main-menu"><!--Меню-->
        {% for category in  categorys %}



            <li><a href="{% url 'realty:realty_category_page' category.pk %}">{{ category.category_name }}</a></li>

        {% endfor %}




         </ul>
     <!--Меню-->

{% endblock %}

   <!--меню пользователя -->

            {% block home_menu %}


			     <a href="/realty/"><i class="fa fa-home"></i>Домой </a>
                     {# Авторизированый пользователь да или нет #}
                {% if request.user.is_authenticated %}
                    <span><i class="fa fa-angle-right"></i><a href="{% url 'realty:new_page'  %}">Добавить</a></span>

                {% else %}


                {% endif %}
                 {# Авторизированый пользователь да или нет #}



            {% endblock %}






       <!-- /меню пользователя -->


{# Вторая страница #}
{% block realty %}




    {# Выборка есть или нет категории #}
        {% if  realty_pages %}

            {# Выводит страницы #}

            {% for  p in realty_pages %}

				<div class="col-lg-4 col-md-6">
					<!-- feature -->
					<div class="feature-item">
                        <a href="{% url 'realty:realty_page_noe' p.pk %}">
						<div class="feature-pic set-bg" data-setbg= "{{ MEDIA_URL }} {{ p.main_image.url }}">
                            <div class="sale-notic">{{ p.sale_and_rental }}</div>
						</div>
                        </a>
						<div class="feature-text">
							<div class="text-center feature-title">
								<h5>{{ p.realty_name }}</h5>
								<p><i class="fa fa-map-marker"></i> Los Angeles, CA 90034</p>
							</div>

							<div class="room-info-warp">
								<div class="room-info">
									<div class="rf-left">
                                        {% if p.area %}{# Если поля Комнат равно 0 то его не показывать #}
										<p><i class="fa fa-th-large"></i> {{ p.area }} квадратных m2</p>
                                        {% endif %}{# Если поля Комнат равно 0 то его не показывать #}

                                        {% if p.bathrooms %} {# Если поля Комнат равно 0 то его не показывать #}
										<p><i class="fa fa-bed"></i> {{ p.bathrooms }} спальни</p>
                                        {% endif %} {# Если поля Комнат равно 0 то его не показывать #}


									</div>

									<div class="rf-right">
                                        {% if p.garash %}{# Если поля Комнат равно 0 то его не показывать #}
										<p><i class="fa fa-car"></i> {{ p.garash }} Гараж</p>
                                        {% endif %}{# Если поля Комнат равно 0 то его не показывать #}

                                        {% if p.bathrooms %}{# Если поля Комнат равно 0 то его не показывать #}
										<p><i class="fa fa-bath"></i> {{ p.bathrooms }} ванных комнатах</p>
                                        {% endif %}{# Если поля Комнат равно 0 то его не показывать #}

                                     {% if p.room_id %}{# Если поля Комнат равно 0 то его не показывать #}
                                         <p><i class="fa fa-building-o"></i>{{ p.room_id }} ID</p>
                                        {% endif %}{# Если поля Комнат равно 0 то его не показывать #}

									</div>
								</div>

								<div class="room-info">
									<div class="rf-left">
										<p><i class="fa fa-user"></i> имя агинта</p>
									</div>
									<div class="rf-right">
										<p><i class="fa fa-clock-o"></i> 1 дней назад</p>
									</div>
								</div>
							</div>
							<a href="{% url 'realty:realty_page_noe' p.pk %}" class="room-price">€ {{ p.price }}</a>
						</div>
					</div>
				</div>





       {% endfor %}
        {# Выводит страницы #}

    {# Выборка есть или нет категории #}
            {% else %}
            <br>Нет такой категории<br>

    {% endif %}
   {# Выборка есть или нет категории #}

{% endblock %}

</div><!-- end panel-body-->
