{% extends 'main/base.html' %}
<!--- --->
{#  #}
{% load staticfiles %}


{% block desc %}{{ realty_page.description }}{% endblock desc %}
{% block keywords %}{{ realty_page.keywords }}{% endblock keywords %}


{% block navbar %}

{% for page in  categorys %}<!--Меню-->
    <ul class="main-menu"><li><a href="{% url 'realty:realty_category_page' page.pk %}">{{ page.category_name }}</a></li></ul>

{% endfor %}<!--Меню-->


{% endblock %}





{% block realty %}

<!--меню пользователя -->
<div class="site-breadcrumb">
		<div class="container">
			<a href="/realty/"><i class="fa fa-home"></i>Домой</a>
            {# Если пользователь не регистрирован товыводим вход и регистрацыю #}
            {% if not request.user.is_authenticated %}
                 <p>Добавлять товар могут только авторизированные пользоавтели.
                     Пожалуста,войдите  или зарегистрируйтесь</p>

            {% else %}
                <span><i class="fa fa-angle-right"></i><a href="{% url 'realty:new_page'  %}">Добавить</a></span>
                <span><i class="fa fa-angle-right"></i><a href="{% url 'realty:edit_page' realty_page.pk %}">редактировать</a></span>
                <span><i class="fa fa-angle-right"></i><a href="{% url 'realty:delete_page' realty_page.pk %}">удалить товар</a></span>

            {% endif %}

		</div>
	</div>


<!--меню пользователя -->


    <!-- Page -->
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 single-list-page">
                    <div class="single-list-slider owl-carousel" id="sl-slider">
                    {# большая картинка галереи #}

                        {# перебор фоток в галрреи #}
                        {% for gal in realty_page.galary_image_set.all %}
                        <div class="sl-item set-bg" data-setbg="{{ gal.galary_image.url }}">
							<div class="rent-notic">{{ realty_page.sale_and_rental }}</div>
						</div>
                        {% endfor %}
                       {# перебор фоток в галрреи #}


                     {# большая картинка галереи #}
                    </div>


                    {# Маленькая галерея #}
					<div class="owl-carousel sl-thumb-slider" id="sl-slider-thumb">

                          {% for gal in realty_page.galary_image_set.all %}

                          <div class="sl-thumb set-bg"
                               data-setbg="{{ realty_page_noe.htmlMEDIA_URL }} {{ gal.galary_image.url}}">
                          </div>

                        {% endfor %}
					</div>
                    {# Маленькая галерея #}

					<div class="single-list-content">

						<div class="row">
							<div class="col-xl-8 sl-title">
								<h2>{{ realty_page.realty_name }}</h2>

							</div>
							<div class="col-xl-4">
								<a href="#" class="price-btn">€ {{ realty_page.price }}</a>

                                {# ID номер #}
                                {% if realty_page.room_id %}{# Если поля Комнат равно 0 то его не показывать #}
								    <p class="price-btn"> ID Номер {{ realty_page.room_id }} </p>
                                {% endif %}{# Если поля Комнат равно 0 то его не показывать #}
                                {# ID номер #}

							</div>

						</div>

						<h3 class="sl-sp-title">Детали недвижимости</h3>
						<div class="row property-details-list">

                            <div class="col-md-4 col-sm-6">
								<p><i class="fa fa-th-large"></i> {{ realty_page.land_area }} квадратных m2</p>
                                {% if realty_page.bedrooms %}
								<p><i class="fa fa-bed"></i> {{ realty_page.bedrooms }} спален</p>
                                {% endif %}

							</div>


							<div class="col-md-4 col-sm-6">
                                {% if realty_page.garash %}{# Если поля Комнат равно 0 то его не показывать #}
								<p><i class="fa fa-car"></i> {{ realty_page.garash }} гараж</p>
                                {% endif %}{# Если поля Комнат равно 0 то его не показывать #}



							</div>



							<div class="col-md-4">
                                {% if realty_page.bathrooms %}
								<p><i class="fa fa-bath"></i> {{ realty_page.bathrooms }} Санузлы</p>
                                {% endif %}
{#								<p><i class="fa fa-trophy"></i> 5 лет</p>#}
							</div>

						</div>

                        <h3 class="sl-sp-title">Описание</h3>
                        <div class="description">
							<p>{{ realty_page.body }}</p>
							</div>


                        <h3 class="sl-sp-title">Детали недвижимости</h3>
						<div class="row property-details-list">
                            {% for info in realty_page.page_info.all %}<!--ManyToManyField--->
							<div class="col-md-4 col-sm-6">
								<p><i class="fa fa-check-circle-o"></i>{{ info.info_name }}</p>

							</div>
                            {% endfor %}<!--ManyToManyField--->

						</div>



{#						<h3 class="sl-sp-title bd-no">Location</h3>#}
{#                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50311.74170408457!2d-0.7125762133605785!3d37.98917305842002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63aa38720ffc79%3A0xd220b907f2229dc6!2z0KLQvtGA0YDQtdCy0YzQtdGF0LAsINCQ0LvQuNC60LDQvdGC0LUsINCY0YHQv9Cw0L3QuNGP!5e0!3m2!1sru!2skz!4v1558442798378!5m2!1sru!2skz" #}
{#                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}


					</div>
				</div>

				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar">
					<div class="author-card">
{#						<div class="author-img set-bg" data-setbg="{% static 'img/author.jpg' %}"></div>#}

                        <div class="author-info">
{#							<h5>Gina Wesley</h5>#}
{#							<p>Real Estate Agent</p>#}
						</div>

						<div class="author-contact">
							<p><i class="fa fa-phone"></i>Mov (+34)677 155 322</p>
							<p><i class="fa fa-envelope"></i>es@torrehome.com</p>
						</div>

					</div>

					<div class="contact-form-card">
						<h5>У вас есть вопросы?</h5>
                        {% include 'contact/contact.html' %}

					</div>

                    {# related-properties#}
{#					<div class="related-properties">#}
{#						<h2>Связанное свойство</h2>#}
{#						<div class="rp-item">#}
{#							<div class="rp-pic set-bg" data-setbg="{% static 'img/feature/1.jpg' %}">#}
{#								<div class="sale-notic">FOR SALE</div>#}
{#							</div>#}
{#							<div class="rp-info">#}
{#								<h5>1963 S Crescent Heights Blvd</h5>#}
{#								<p><i class="fa fa-map-marker"></i>Los Angeles, CA 90034</p>#}
{#							</div>#}
{#							<a href="#" class="rp-price">€ {{ realty_page.price }}</a>#}
{#						</div>#}

					</div>{# /related-properties#}

				</div>
			</div><!-- /sidebar -->

		</div><!--container-->
	</section>
	<!-- Page end -->




{% endblock %}

	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnZDIWTUThaxMRSsy6BazNadEXdvL69fo"></script>
	<script src="{% static 'js/map-2.js' %}"></script>












