
<form action="{% url 'contact:contact' %}" method="post">
    {% csrf_token %}


	<div>
	  <label for="id_subject">Имя:</label>

      <input class="form-control" type="text" name="name" placeholder="Имя">
	</div>
    &nbsp;


	<div>
	  <label for="id_sender">E-mail:</label>
      <input class="form-control" type="email" name="email" placeholder="Ваш e-mail">
	</div>

    &nbsp;

     <div>
	  <label for="id_nomer">ID Номер</label>
      <input class="form-control" id="id_nomer" name="nomer" placeholder="ID номер">
	</div>
    &nbsp;

	<div>
	  <label for="id_message">Сообщение:</label>
      <textarea class="form-control" id="id_message" name="message" placeholder="Введите ваше сообщение"></textarea>
	</div>




    <br>
	<button>Отправить сообщение</button>
</form>
