

     <div class="post-preview">
     {% if sent %}

         <div class="well well-lg" align="center">
            <h3>Спасибо, Ваше сообщение отправлено!</h3>
            <div align="center"><a href="/realty/"><button type="button" class="btn btn-info">Вернутся на главную</button></a></div>
         </div>


     {% else %}
        <div class="post-preview">
            <form method="POST" class="post-form"  action="{% url 'contact:contact' %}">
                {% csrf_token %}



                <div>
                  <label for="id_name">Имя:</label>

                  <input class="form-control" id="id_name" name="name" placeholder="Имя">
                </div>

                <div>
                  <label for="id_email">E-mail:</label>
                  {{ form.email.errors }}
                  <input class="form-control" id="id_email" name="email" placeholder="Ваш e-mail">
                </div>

                 <div>
                  <label for="id_nomer">Номер ID</label>

                  <input class="form-control" id="id_nomer" name="nomer" placeholder="Номер ID">
                </div>


                <div>
                  <label for="id_message">Сообщение:</label>
                  {{ form.message.errors }}
                  <textarea class="form-control" id="id_message" name="message" placeholder="Введите ваше сообщение"></textarea>
                </div>


                {{ form.as_p }}
                <button type="submit" class="btn btn-default btn-sm">Отправить</button>
            </form>
        </div>
     {% endif %}
     </div>
