{% extends "base.html" %}



{% block title %}Удаление :: товара ::{% endblock %}


{% block navbar %}
    <div class="navbar-header"><!---Кнопка Входа --->

    <ul class="nav navbar-nav navbar-right">


    </ul>
    </div><!---Кнопка Входа --->

        <!--Меню-->
         <ul class="nav navbar-nav navbar-right"><!--Меню-->
        {% for category in  categorys %}

            <li><a href="{% url 'realty:realty_category_page' category.pk %}">{{ category.category_name }}</a></li>

        {% endfor %}
        <!--Меню-->
         </ul>

{% endblock %}



{% block realty %}


<div class="row">
<div class="col-md-3">
    <h4>{{ realty_page.realty_name }}</h4>
    <div class="thumbnail">
        <img class="img-responsive" src="{{ realty_page.main_image.url }}" alt="">
    </div>

    <p>Вы хотите удалить товар </p>


    <br>


<form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

        {{ form.as_p }}


    <input type="submit" value="Удалить" class="bg-info">

    </form>


</div>




</div>







{% endblock %}